<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.
                </p>
            </div>
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <form th:action="@{/member/login}" method="post" class="card-body">
                    <div th:if="${param.error}" role="alert" class="form-control alert alert-error">
                           <span>
                               사용자ID 또는 비밀번호를 확인해 주세요.
                           </span>
                    </div>
                    <div class="form-control">
                        <label for="username" class="label">
                            <span class="label-text">Username</span>
                        </label>
                        <input type="text" name="username" id="username"
                               placeholder="Username"
                               class="input input-bordered" required/>
                    </div>
                    <div class="form-control">
                        <label for="password" class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" name="password" id="password"
                               placeholder="Password" class="input input-bordered"
                               required/>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>