<nav th:fragment="navbarFragment" class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">home</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/member/register}">회원가입</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>