<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1>회원 가입</h1>
    <form th:action="@{/member/register}" th:object="${createMemberRequest}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div>
            <label for="username">회원이름:</label>
            <input type="text" th:field="*{username}">
        </div>
        <div>
            <label for="password1">비밀번호:</label>
            <input type="password" th:field="*{password1}">
        </div>
        <div>
            <label for="password2">비밀번호 확인:</label>
            <input type="password" th:field="*{password2}">
        </div>
        <div>
            <label for="email">이메일:</label>
            <input type="text" th:field="*{email}">
        </div>
        <input type="submit" value="가입하기">
    </form>
</div>
</html>